* body {
    font-family: Rajdhani, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    font-weight: 300;
    box-sizing: border-box;
}
.red {
    color: rgba(255, 0, 0, 0.651);
}
.uppercase {
    text-transform: uppercase;
}
.bold {
    font-weight: 700;
}
header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-around;
    background-image: url(images/texture1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px;
    z-index: 200;
}
.brand{
    display: flex;
    align-items: center;
}
.brand h1{
    font-size: 1em;
    margin: 0;
    margin-left: -25px;
    color: rgba(73, 3, 73, 0.582);
}
.logo {
    height: 80px;
    width: 70px;
    margin: 0;
}

.nav > a {
    text-decoration: none;
    margin-left: 20px;
    color: black;
    font-weight: 700;
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.nav > a:hover {
    letter-spacing: 1px; 
}
.socials > i {
    text-decoration: none;
    margin-left: 10px;
    color: black;
    font-size: 1em;
    padding: 5px;
    transition: 0.5s;
}
.socials > i:hover {
    font-size: 1.2em;
}

.orderContent a {
    display: inline-block;
    background-color: purple;
    color: white;
    font-size: 0.9em;
    padding: 0px 20px;
    text-decoration: none;
}
.orderContent a:hover {
    background-color: black;
    transition: 1s;
}

.nav-toggler{
    font-size: 1.3em;
    cursor: pointer;
    color: black;
    background: none;
    outline: none;
    border: none;
    display: none;
    position: relative;
    right: 30px;
}
.nav-toggler-close{
    position: absolute;
    top: 30px;
    right: 20px;
    color: white;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.3em;
}

.nav-list-toggled{
    display: none;
}

.open{
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.781);
    position: fixed;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    right: 0;
}

.open > *{
    display: block;
    text-align: left;
    color: white;
    margin-bottom: 30px;
    margin-left: 20px;
    text-decoration: none;
}

.open .socials{
    margin-left: -10px;

}
.open .socials > i {
    color: white;
    font-size: 0.8em;
}

/* animated nav-list-toggled entry */
.nav-link-toggled{
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}

@keyframes animate-fade {
    0% { opacity: 0; }
  100% { opacity: 1; }
}


.nav-link-toggled.pop {
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(.26,.53,.74,1.48);
}

@keyframes animate-pop {
    0% {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }
            
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}


.delay-1 {
    animation-delay: 0.6s;
}
    
.delay-2 {
    animation-delay: 0.7s;
}
    
.delay-3 {
    animation-delay: 0.8s;
}
.delay-4 {
    animation-delay: 0.9s;
}
.delay-5 {
    animation-delay: 1s;
}
.delay-6 {
    animation-delay: 1.01s;
}
.delay-7 {
    animation-delay: 1.02s;
}
/* animagted nav-list-toggled entry ends */


/* greeting starts */
.greeting {
    display: flex;
    justify-content: center;
    height: 450px;
    margin-top: 80px;
}
.greeting > .image {
    width: 50vw;
}
.greeting > .whatWeDo {
    width: 50vw;
}

.greeting > .image{
    overflow: hidden;
}

.greeting > .image > img  {
    height: 100%;
    width: 100%;
    transition: transform .8s ease;
}

.greeting:hover > .image img{
    transform: scale(1.1); 
    z-index: 0;

}

.greeting .whatWeDo {
    padding: 50px 20px;
    font-weight: 700;
    background-color: #e4e2e28f;
}


.greeting .whatWeDo >  h1 {
    font-size: 2.5em;

}

 .learnMore a {
    color: white;
    text-decoration: none;
    font-size: 0.6em;
    font-weight: 700;
    background-color: red;
    padding: 10px;
    border-radius: 20px;
   
}
.learnMore a:hover {
    background-color: black;
    letter-spacing: 3px;
    padding-right: 40px;
    transition: 0.5s;
}
/* greeting ends */

/* wcos design */
.wcos{
    width: 100%;
}
.wcu p {
    font-weight: 500;
    color: rgba(58, 56, 56, 0.938);
    margin: 0;
}
.wcu p i {
    font-size: 2.5em;
    padding: 10px;
    color: red;
}
.wcu p .bold{
    font-size: 1.6em;
    color: black;
}
.wcosContainer {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
}

.wcuFirst{
    background-color: rgba(211, 211, 211, 0.459);
    padding: 60px 30px 30px;
    /* width: 100%; */
}
.wcuImage {
    width: 28vw;
    height: 200px;
}
.wcu {
    width: 300px;
    margin: 0 30px;
    padding: 60px 20px 20px;
}
p.lhwcu {
    line-height: 0.5em;
}


/* ads  */

.ads{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e4e2e28f;
    margin-top: 30px;
}

.adstexts{
    padding: 30px;
    margin-right: 20px;
}
.adstexts h2{
    font-size: 2.8em;
}
.adstexts p{
    font-size: 1.2em;
    line-height: 2;
}
.adstexts li{
    list-style-type: none;
    line-height: 2;
}
.adstexts li i{
    color: red;
}

.adsImage{
    width: 100%;
}
.adsImage img{
    width: 100%;
}
.snrWriter{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.snrWriter figure{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
}
.snrWriter figure img{
    height: 50px;
    width: 50px;
    border-radius: 50%;

}
.snrWriter figcaption{
    margin-left: 10px;
}

/* audience styles */
.audience {
    background-image: linear-gradient( to bottom, rgba(21, 22, 26, 0.185), rgb(15, 10, 10)), url(images/content6.jpg);
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px;
    margin-top: -10px;
}
.audience > * {
    width: 70%;
}
.audience h1 {
    font-size: 3em;
}

/* Services */
.services, .ourTeam{
    margin-top: 0;
}
.servicesTop p{
    margin-top: 0;
    font-size: 1.5em;
}
.ourTeam p{
    font-size: 1.1em;
}
.servicesTop, .ourTeamTop{
    background-color: rgba(43, 42, 42, 0.678);
    margin-top: 0;
    padding: 20px;
    color: white;
    text-align: center;
    padding-bottom: 100px;
}

.servicesFigs, .ourTeamFigs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -70px;
}

.servicesFigs > figure, .ourTeamFigs > figure{
    width: 30%;
    overflow: hidden;
    cursor: pointer;
}
.servicesFigs figure .img{
    width: 100%;
    height: 300px;
    transition: transform .8s ease;
}
.ourTeamFigs figure .img{
    width: 100%;
    height: 400px;
    transition: transform .8s ease;
}

.servicesFigs figure:hover >  .img{
    transform: scale(1.1); 
    z-index: 0;
}
.ourTeamFigs figure:hover > .img{
    transform: scale(1.1); 
    z-index: 0;
}


/* about us styles */
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e4e2e28f;
    margin-bottom: 0;
}
.about .aboutImage{
    width: 100%;
}
.about .aboutImage img{
    width: 100%;
}
.about .abouttexts{
    padding: 20px;
}

/* blog */
.blog .blogTop{
    background-image: linear-gradient( to bottom, rgba(21, 22, 26, 0.185), rgb(15, 10, 10)), url(images/content6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}
.blog .blogTop h2{
    font-weight: 200;
}

.blog .blogFigs{
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog .blogFigs figure{
    width: 20%;
    background-color: rgba(199, 196, 196, 0.267);
    border-radius: 20px;
    height: 600px;
    box-shadow: 5px 5px 5px rgba(107, 106, 106, 0.541);
}

.blog .blogFigs figure img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.blog .blogFigs figure figcaption{
    padding: 20px;
}
.blog .blogFigs figure .readMore{
    margin-top: 20px;
}

.blog .blogFigs figure .readMore a{
    text-decoration: none;
    color: white;
    background-color: purple;
    padding: 5px 10px;
    transition: 0.5s ease-in;
}
.blog .blogFigs figure .readMore a:hover{
    background-color: black;
    letter-spacing: 2px;
}
/* footer */

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: rgba(255, 255, 255, 0.651);
    padding: 30px 0;
}
footer .brand h1{
    color: rgba(255, 255, 255, 0.651);
}

footer .footer-nav a{
    color: rgba(255, 255, 255, 0.651);
    text-decoration: none;
    margin-right: 20px;
    transition: 0.3s ease-in;
}

footer .footer-nav a:hover{
    letter-spacing: 1px;
}

/* responsiveness */
@media only screen and (max-width: 1200px){
    header>.nav,header>.contact, header>.orderContent {
        display: none;
    }

    .nav-toggler{
        display: block;
    }

    .wcu p i {
        font-size: 2em;
    }
    .wcu p .bold{
        font-size: 1.3em;
    }
    .wcu p .uppercase{
        font-size: 0.8em;
    }
    
    .servicesFigs figure .img{
        height: 230px;
    }
    .ourTeamFigs figure .img{
        height: 360px;
    }

    
    
}

@media only screen and (max-width: 1000px) {
    .greeting {
        height: 350px;
    }
    
    
    .greeting .whatWeDo >  h1 {
        font-size: 1.7em;
    
    }
    
     .learnMore a {
        color: white;
        text-decoration: none;
        font-size: 0.6em;
        font-weight: 700;
        background-color: red;
        padding: 10px;
        border-radius: 20px;
       
    }
    .learnMore a:hover {
        background-color: black;
        letter-spacing: 3px;
        padding-right: 40px;
        transition: 0.5s;
    }
    .ads{
        flex-direction: column;
    }
    
    .adsImage{
        width: 100%;
        text-align: center;
    }
    .adsImage img{
        width: 60%;
    }

    /* about us styles */
    .about{
        flex-direction: column-reverse;
    }
    .about .aboutImage{
        text-align: center;
    }
    .about .aboutImage img{
        width: 60%;
    }

    .ourTeamFigs figure .img{
        height: 300px;
    }
    
    /* blog */

    .blog .blogFigs{
        flex-direction: column;
    }

    .blog .blogFigs figure{
        width: 50%;
        height: 600px;
    }

    /* footer */

    footer .footer-nav {
        display: flex;
        flex-direction: column;
    }

    footer .footer-nav a{
        margin-bottom: 10px;
    }
    
}

@media only screen and (max-width: 800px){
    .wcosContainer {
        flex-direction: column;
    }
    
    .wcuFirst{
        width: 100%;
        text-align: center;
        padding: 60px 0;
    }
    .wcuImage {
        width: 70%;
        height: 250px;
        margin-left: 0px ;
    }

    .wcuImage img{
        width: 100%;
    }

    /* Services */


    .servicesFigs, .ourTeamFigs{
        flex-direction: column;

    }

    .servicesFigs > figure, .ourTeamFigs > figure{
        width: 50%;
    }
    .ourTeamFigs figure .img{
        height: 440px;
    }
  
    footer .orderContent a{
        font-size: 0.7em;
    }
}



@media only screen and (max-width: 600px){
    header {

        justify-content: space-between

    }
    .brand h1 {
        font-size: 0.9em;
    }
    .greeting {
        margin-top: 60px;
    }
    .greeting > .image {
        width: 100vw;
    }
    .greeting > .whatWeDo {
        position: absolute;
        top: 67px;
        right: 0;
        width: 50%;
    }
    .greeting .whatWeDo >  h1 {
        font-size: 1.3em;
    }

    .wcuImage {
        width: 100%;
        height: 250px;
        margin-left: 0px ;
    }

    .wcuImage img{
        width: 100%;
    }
    
    .adsImage{
        width: 100%;
    }
    .adsImage img{
        width: 100%;
    }
    .adstexts h2{
        font-size: 2.3em;
    }

    .snrWriter{
        flex-direction: column;
    }
    
    .audience h1 {
        font-size: 2em;
    }
    .audience > * {
        width: 100%;
    }
    
    .servicesFigs > figure, .ourTeamFigs > figure{
        width: 70%;
    }

    /* blog */

    .blog .blogFigs figure{
        width: 80%;
    }
    .ourTeamFigs figure .img{
        height: 330px;
    }

    /* footer */
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
    footer .footer-nav {
        display: flex;
        flex-direction: row;
    }
    footer .footer-nav a{
        font-size: 0.4em;
    }


    /* footer .footer-nav a{
        margin-bottom: 10px;
    } */
}