* body {
    font-family: Rajdhani, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    font-weight: 300;
    
}
.red {
    color: rgba(255, 0, 0, 0.651);
}
.uppercase {
    text-transform: uppercase;
}
.bold {
    font-weight: 700;
    font-size: 1.6em;
    color: black;
}
.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-image: url(images/texture1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30px 20px 30px;
}

.brand h1 {
    font-size: 2vw;
}

.nav, .socials{
    margin-top: 20px;
}
.nav > a {
    text-decoration: none;
    margin-left: 20px;
    color: black;
    font-weight: 700;
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.nav > a:hover {
    color: #ffffff;
    background-color: #000000;
    
}
.socials > i {
    text-decoration: none;
    margin-left: 10px;
    color: black;
    font-size: 1em;
    padding: 5px;
    transition: 0.5s;
}
.socials > i:hover {
    font-size: 1.2em;
}

.orderContent a {
    display: inline-block;
    background-color: purple;
    color: white;
    font-size: 0.9em;
    margin-top: 20px;
    padding: 0 16px;
    text-decoration: none;
}
.orderContent a:hover {
    background-color: black;
    transition: 1s;
}


.greeting {
    display: flex;
    justify-content: center;
}

.greeting > .image > img  {
    height: 100%;
    width: 100%;
}

.greeting .whatWeDo {
    padding: 50px 20px;
    width: 100%;
    font-weight: 700;
    background-color: #e4e2e28f;
    transition: width 2s;
}
.greeting .whatWeDo:hover {
    width: 102%;
}

.greeting .whatWeDo >  h1 {
    font-size: 2.5em;

}

 .learnMore a {
    color: white;
    text-decoration: none;
    font-size: 0.6em;
    font-weight: 700;
    background-color: red;
    padding: 10px;
    border-radius: 20px;
   
}
.learnMore a:hover {
    background-color: black;
    letter-spacing: 3px;
    padding-right: 40px;
    transition: 0.5s;
}

/* wcos design */

.wcu p {
    font-weight: 500;
    color: rgba(58, 56, 56, 0.938);
}
.wcu p i {
    font-size: 2.5em;
    padding: 10px;
    color: red;
}
.wcosContainer {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.wcuFirst{
    background-color: rgba(211, 211, 211, 0.459);
}
.wcuImage {
    width: 400px;
    height: 200px;
    margin-left: -40px ;
}
.wcu {
    width: 300px;
    margin: 0 40px;
    padding: 60px 30px 30px;
}
p.lhwcu {
    line-height: 0.5em;
}

/* ads styles */
.ads {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
    color: rgba(58, 56, 56, 0.938);
}
.adstexts {
    background-color: rgba(211, 211, 211, 0.459);
    padding: 40px;
    width: 50%;
}
.adstexts > h1 {
    font-size: 3em;
}
.adstexts > li {
    list-style-type: none;
    font-weight: 700;
    line-height: 1.9;
    font-size: 1.3em;
}
.adstexts > li i {
    color: red;
}

.adstexts .snrWriter {
    display: inline-block;
    margin: 5px 50px;
}
.adstexts .snrWriter figure {
    display: flex;
    font-weight: 700;
    font-size: 0.7em;
}
.adstexts .snrWriter figure figcaption {
    line-height: 1.5;
}

.adstexts .snrWriter img {
    height: 70px;
    margin-right: 10px;
    border-radius: 50%;
}

/* audience design */

.audience {
    background-image: linear-gradient( to bottom, rgba(21, 22, 26, 0.185), rgb(15, 10, 10)), url(images/content6.jpg);
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px;
}
.audience > * {
    width: 70%;
}
.audience h1 {
    font-size: 3em;
}

/* services styles */

.servicesTop {
    background-color: rgb(48, 44, 44);
    color: white;
    text-align: center;
    padding: 50px;
    padding-bottom: 100px;
    margin: -30px 50px 0 ;
    font-weight: 700;
}

.servicesFigs {
    display: flex;
    justify-content: center;
    padding: 100px;
    margin: -200px 100px 0 ;
}
.servicesFigs img {
    width: 300px;
}
.servicesFigs h3 {
    font-size: 0.9em;
    font-weight: 700;
}

/* Responsiveness   */


@media only screen and (max-width: 1200px) {
    .header>.nav,.header>.contact, .header>.orderContent {
        display: none;
    }

    .brand h1 {
        font-size: 4vw;
    }
    
    /* wcu designs */
    .wcu p i {
        font-size: 2em;
    }
    .wcosContainer {
        font-size: 0.8em;
    }
    
    .wcuImage {
        width: 380px;
        height: 200px;
        margin-left: -38px ;
    }
    .wcu {
        width: 300px;
        margin: 0 20px;
    }

    /* ads styles */  
    .adstexts > h1 {
        font-size: 2em;
    }
    .adstexts > li {
        list-style-type: none;
        font-weight: 700;
        line-height: 1.9;
        font-size: 1em;
    }
    
    .adstexts .snrWriter {
        display: block;
        margin: 0 5px;
        margin-top: 50px;

    }
    
    .adstexts .snrWriter img {
        height: 50px;
        margin-right: 5px;
        border-radius: 50%;
    }

    

}

@media only screen and (max-width: 1000px) {
    

    .greeting > .whatWeDo {
        padding: 50px 20px ;
    }
    
    .greeting .whatWeDo >  h1 {
        font-size: 1.5em;
        
    }
    .greeting .whatWeDo >  p {
        font-size: 1em;
        margin-bottom: -10px;
    }

    .learnMore a {
        font-size: 0.5em;
        padding: 5px 10px;
    }
    

    
    /* wcu designs */
    .wcu p i {
        font-size: 1.8em;
    }
    .wcosContainer {
        font-size: 0.7em;
    }
    
    .wcuImage {
        width: 340px;
        height: 200px;
        margin-left: -38px ;
    }
    .wcu {
        width: 250px;
        margin: 0 20px;
    }


    /* ads styles */
    .adstexts > h1 {
        font-size: 1.8em;
    }
    .adstexts .snrWriter figure{
        margin: 0;
    }
    
    .adstexts .snrWriter img {
        height: 50px;
        margin-right: 5px;
        border-radius: 50%;
    }

    /* services styles */
    .servicesFigs {  
        flex-wrap: wrap;
    }
       
}

@media only screen and (max-width: 800px) {
    .greeting .whatWeDo >  h1 {
        font-size: 1em;
        
    }
    .greeting .whatWeDo >  p {
        font-size: 0.7em;
    }
    /* wcu designs */
    
    .wcosContainer {
        font-size: 0.9em;
        flex-wrap: wrap;
    }

    .wcuImage {
        width: 550px;
        height: 300px;
    }
    .wcuFirst>h1,
    .wcuFirst>p,
    .wcuFirst>.learnMore  {
        padding-left: 20px;
    }
    
    .wcu {
        width: 100%;
        padding: 20px;
    }

    /* ads styles */
.ads {
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}
.adstexts {
    width: 100%;
}


.adstexts .snrWriter figure {
    font-size: 1em;
    padding-bottom: 30px;
}

/* services styles */
.servicesFigs {  
    flex-wrap: wrap;
}

   
}